<section class="hero is-primary is-bold">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">Contáctanos!</h1>
        </div>
    </div>
</section>
<section class="section">
    <div class="container">

        <form>
            <div>
                <div class="field">
                    <label class="label">Nombre</label>
                    <div class="control">
                        <input type="text" name="Nombre" class="input" placeholder="Nombre completo">
                    </div>
                </div>
                <div class="field">
                    <label class="label">E-mail</label>
                    <div class="control">
                        <input type="email" name="Email" class="input" placeholder="@">
                    </div>
                </div>
                <div class="field">
                    <label class="label">Provincia</label>
                    <div class="control">
                        <div class="select">
                            <select>
                                <option>Misiones</option>
                                <option>San Luis</option>
                                <option>San Juan</option>
                                <option>Entre Ríos</option>
                                <option>Santa Cruz</option>
                                <option>Río Negro</option>
                                <option>Chubut</option>
                                <option>Córdoba</option>
                                <option>Mendoza</option>
                                <option>La Rioja</option>
                                <option>Catamarca</option>
                                <option>La Pampa</option>
                                <option>Santiagodel Estero</option>
                                <option>Corrientes</option>
                                <option>Santa Fe</option>
                                <option>Tucumán</option>
                                <option>Neuquén</option>
                                <option>Salta</option>
                                <option>Chaco</option>
                                <option>Formosa</option>
                                <option>Jujuy</option>
                                <option>Ciudad Autónoma de Buenos Aires</option>
                                <option>Buenos Aires</option>
                                <option>Tierra del Fuego</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="field">
                    <label class="label">Teléfono</label>
                    <div class="control">
                        <input type="tel" name="CodArea" class="input" placeholder="Código de área">
                    </div>
                </div>
                <div class="field">
                    <label class="label">Código de area</label>
                    <div class="control">
                        <input type="tel" name="Num" class="input" placeholder="Número de télefono">
                    </div>
                </div>
            </div>

            <!-- message -->
            <div class="field">
                <label class="label">Consulta</label>
                <textarea class="textarea" name="Consulta" placeholder="¿Cual es su consulta?"></textarea>
            </div>

            <button type="submit" class="button is-danger is-large">Enviar</button>

        </form>

    </div>
</section>