<section class="hero is-primary is-bold">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">Contáctanos!</h1>
        </div>
    </div>
</section>
<section class="section">
    <div class="container">

        <form (ngSubmit)="submitForm()" #contactForm="ngForm">
            <div class="fiels">
                <div class="field ">
                    <label class="label">Nombre</label>
                    <input type="text" name="name" class="input" placeholder="Nombre completo" [(ngModel)]="name" required #nameInput="ngModel">
                    <p class="help is-error" *ngIf="nameInput.invalid && nameInput.dirty">
                        Debe introducir un nombre.
                    </p>


                </div>
                <div class="field">
                    <label class="label">E-mail</label>
                    <div class="control">
                        <input type="email" name="email" class="input" placeholder="@" [(ngModel)]="email" required #emailInput="ngModel" email>
                        <p class="help is-error" *ngIf="emailInput.invalid && emailInput.dirty">
                            Debe introducir un email válido.
                        </p>

                    </div>
                </div>
                <div class="field">
                    <label class="label">Provincia</label>
                    <div class="control">
                        <div class="select" [(ngModel)]="prov">
                            <select>
                                <option>Misiones</option>
                                <option>San Luis</option>
                                <option>San Juan</option>
                                <option>Entre Ríos</option>
                                <option>Santa Cruz</option>
                                <option>Río Negro</option>
                                <option>Chubut</option>
                                <option>Córdoba</option>
                                <option>Mendoza</option>
                                <option>La Rioja</option>
                                <option>Catamarca</option>
                                <option>La Pampa</option>
                                <option>Santiagodel Estero</option>
                                <option>Corrientes</option>
                                <option>Santa Fe</option>
                                <option>Tucumán</option>
                                <option>Neuquén</option>
                                <option>Salta</option>
                                <option>Chaco</option>
                                <option>Formosa</option>
                                <option>Jujuy</option>
                                <option>Ciudad Autónoma de Buenos Aires</option>
                                <option>Buenos Aires</option>
                                <option>Tierra del Fuego</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="field">
                    <label class="label">Teléfono</label>
                    <div class="control">
                        <input type="tel" name="tel" class="input" placeholder="Teléfono" [(ngModel)]="tel" required #telInput="ngModel">
                        <p class="help is-error" *ngIf="telInput.invalid && telInput.dirty">
                            Debe introducir un telefono válido.
                        </p>
                    </div>
                </div>
                <div class="field">
                    <label class="label">Código de area</label>
                    <div class="control">
                        <input type="codArea" name="codArea" class="input" placeholder="Código de área" [(ngModel)]="codArea" required #codAreaInput="ngModel">
                        <p class="help is-error" *ngIf="codAreaInput.invalid && codAreaInput.dirty">
                            Debe introducir un código de área válido.
                        </p>
                    </div>
                </div>
            </div>

            <!-- message -->
            <div class="field">
                <label class="label">Consulta</label>
                <textarea class="textarea" name="message" placeholder="¿Cual es su consulta?" [(ngModel)]="message"></textarea>
            </div>
            <button type="submit" class="button is-danger is-large" [disabled]="contactForm.invalid">Enviar</button>

        </form>

    </div>
</section>